body {
     
    margin: 0;
    padding: 0;

     
     
}

h1{
    color:aqua;;
}

.z1 {
    color:indigo;
    border: 2px solid black ;
    text-align: center;
    background-color:darkgrey;

}


p {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}